@model AddOrEditHomeworkViewModel
@{
    ViewData["Title"] = "ویرایش تکلیف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-lg border-0">
                    <div class="card-body p-md-5 p-2">
                        <div class="text-center mb-5">
                            <h2 class="fw-bold">ویرایش تکلیف</h2>
                            <p class="text-muted">تکلیف خود را ویرایش کنید</p>
                        </div>

                        <form method="post" novalidate>
                            @Html.AntiForgeryToken()
                            <div class="mb-4">
                                <label asp-for="@Model.Title" class="form-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white">
                                        <i class="fa-solid fa-heading text-primary"></i>
                                    </span>
                                    <input asp-for="@Model.Title" class="form-control">
                                </div>
                                <span class="small text-danger" asp-validation-for="@Model.Title"></span>
                            </div>

                            <div class="mb-4">
                                <label asp-for="@Model.Description" class="form-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white">
                                        <i class="fa-solid fa-file-lines text-primary"></i>
                                    </span>
                                    <textarea asp-for="@Model.Description" class="form-control"></textarea>
                                </div>
                                <span class="small text-danger" asp-validation-for="@Model.Description"></span>
                            </div>

                            <div class="card border-0 shadow-sm mb-4">
                                <div class="card-body p-4">
                                    <div class="d-flex align-items-center gap-2 mb-4">
                                        <h3 class="card-title">تصاویر</h3>
                                        <a asp-action="AddPicture"
                                           asp-controller="Homeworks"
                                           asp-area="Teacher"
                                           asp-route-classId="@ViewBag.ClassId"
                                           asp-route-homeworkId="@ViewBag.HomeworkId"
                                           class="btn btn-primary">افزودن تصاویر</a>
                                    </div>

                                    @if (Model.PicturesList == null || Model.PicturesList.Count() <= 0)
                                    {
                                        <div class="bg-white text-center w-100 rounded p-3">
                                            هیچ عکسی وجود ندارد
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row g-4">
                                            @foreach (var picture in Model.PicturesList)
                                            {
                                                <div class="col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="~/images/homeworks/@(picture.PicturePath)" target="_blank" class="gallery-image">
                                                            <img src="~/images/homeworks/@(picture.PicturePath)" alt="تصویر گالری" class="img-fluid">
                                                        </a>
                                                        <a asp-action="DeletePicture"
                                                           asp-controller="Homeworks"
                                                           asp-area="Teacher"
                                                           asp-route-classId="@ViewBag.ClassId"
                                                           asp-route-homeworkId="@ViewBag.HomeworkId"
                                                           asp-route-pictureId="@picture.PictureId"
                                                           class="btn btn-outline-danger w-100 mt-2">
                                                            <i class="fas fa-trash me-1"></i>
                                                            حذف تصویر
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }

                                </div>
                            </div>


                            <div class="mb-4 d-flex ">
                                <a asp-action="Index"
                                   asp-controller="Homeworks"
                                   asp-area="Shared"
                                   asp-route-classId="@ViewBag.ClassId"
                                   asp-route-roleName="Teacher"
                                   asp-route-pageNumber="1"
                                   class="btn btn-warning w-50 py-3 d-block rounded-end-0">برگشت به تکالیف</a>
                                <button type="submit" class="btn btn-primary w-50 py-3 d-block rounded-start-0">
                                    <i class="fas fa-edit me-2"></i>
                                    ویرایش
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
