@model IEnumerable<HomeworksViewModel>
@{
    ViewData["Title"] = "تکالیف";
}


<div class="card border-0 shadow-sm">
    <div class="card-body p-4">


        <div class="d-flex gap-3 align-items-center mb-4">

            <h3 class="card-title mb-0">اعلان‌ها</h3>
            <div>
                <a asp-action="AddHomework"
                   asp-controller="Homeworks"
                   asp-area="Teacher"
                   asp-route-classId="@ViewBag.classId"
                   class="btn btn-primary">افزودن</a>
            </div>

            <div>
                @if (ViewBag.HasPrev)
                {
                    <a asp-action="Homeworks"
                       asp-controller="Home"
                       asp-area="Teacher"
                       asp-route-classId="@ViewBag.ClassId"
                       asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
                       class="btn btn-primary ">صفحه ی قبل</a>
                }
                else
                {
                    <a class="btn btn-primary disabled">صفحه ی قبل</a>
                }
            </div>
            <div>
                @if (ViewBag.HasNext)
                {
                    <a asp-action="Homeworks"
                       asp-controller="Home"
                       asp-area="Teacher"
                       asp-route-classId="@ViewBag.ClassId"
                       asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
                       class="btn btn-primary ">صفحه ی بعد</a>
                }
                else
                {
                    <a class="btn btn-primary disabled">صفحه ی بعد</a>
                }
            </div>

        </div>

        <div class="notifications-list">

            @if (Model.Count() <= 0)
            {
                <div class="alert alert-warning">
                    توجه هیچ تکلیفی وجود ندارد.
                </div>
            }
            else
            {
                <div class="alert alert-light">
                    تعداد کل اعلان ها: @ViewBag.HomeworksCount
                </div>
                foreach (var homework in Model)
                {
                    <div class="notification-item">
                        <a asp-action="Index"
                           asp-controller="Notifications"
                           asp-area="Teacher"
                           asp-route-classId="@ViewBag.ClassId"
                           asp-route-notificationId="@homework.HomeworkId"
                           class="d-block flex-grow-1">
                            <div class="notification-content">
                                <h4 class="notification-title">@homework.HomewordTitle</h4>
                                <p class="notification-date">@homework.CreatedAt</p>
                                <p class="text-muted small">وضعیت : @homework.State</p>
                            </div>
                        </a>
                        <div class="notification-actions">
                            <a asp-action="EditHomework"
                               asp-controller="Homeworks"
                               asp-route-classId="@ViewBag.ClassId"
                               asp-route-homeworkId="@homework.HomeworkId"
                               class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-edit me-1"></i>
                                ویرایش
                            </a>
                            <a asp-action="CloseHomework"
                               asp-controller="Homeworks"
                               asp-route-classId="@ViewBag.ClassId"
                               asp-route-homeworkId="@homework.HomeworkId"
                               class="btn btn-outline-warning btn-sm">
                                <i class="fa-solid fa-lock me-1"></i>
                                بستن
                            </a>
                            <a asp-action="OpenHomework"
                               asp-controller="Homeworks"
                               asp-route-classId="@ViewBag.ClassId"
                               asp-route-homeworkId="@homework.HomeworkId"
                               class="btn btn-outline-success btn-sm">
                                <i class="fa-solid fa-lock-open me-1"></i>
                                باز کردن
                            </a>
                            <a asp-action="DeleteHomework"
                               asp-controller="Homeworks"
                               asp-route-classId="@ViewBag.ClassId"
                               asp-route-homeworkId="@homework.HomeworkId"
                               class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash me-1"></i>
                                حذف
                            </a>
                        </div>
                    </div>
                }
            }



        </div>
    </div>
</div>

