@model IEnumerable<AddStudentViewModel>
@{
    ViewData["Title"] = "درخواست های ورود به کلاس";
}

<div class="container-fluid">

    @if(Model.Count() > 0)
    {

        <!-- Users List -->
        <div class="card border-0 shadow-sm">
            <div class="card-body p-4">


                <div class="d-flex gap-3 align-items-center mb-4 flex-wrap">

                    <h3 class="card-title mb-0">لیست درخواست ها</h3>
                    <div>
                        @if (ViewBag.HasPrev)
                        {
                            <a asp-action="LoginsToClass"
                               asp-controller="Home"
                               asp-area="Teacher"
                               asp-route-classId="@ViewBag.ClassId"
                               asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
                               class="btn btn-primary ">صفحه ی قبل</a>
                        }
                        else
                        {
                            <a class="btn btn-primary disabled">صفحه ی قبل</a>
                        }
                    </div>

                    <div>
                        @if (ViewBag.HasNext)
                        {
                            <a asp-action="LoginsToClass"
                               asp-controller="Home"
                               asp-area="Teacher"
                               asp-route-classId="@ViewBag.ClassId"
                               asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
                               class="btn btn-primary ">صفحه ی بعد</a>
                        }
                        else
                        {
                            <a class="btn btn-primary disabled">صفحه ی بعد</a>
                        }
                    </div>

                </div>

                <div class="users-list">

                    @foreach(var item in Model)
                    {
                        <div class="user-item">
                            <div class="user-info">
                                <div class="user-avatar">
                                    <img src="~/images/users/@item.StudentImage" alt="تصویر کاربر">
                                </div>
                                <div class="user-details">
                                    <h4 class="user-name">@item.StudentName</h4>
                                    <p class="user-email">@item.StudentEmail</p>
                                </div>
                            </div>
                            <div class="user-actions">

                                <a href="javascript:void(0)"
                                   onclick="openConfirmModal('@Url.Action("Accept", "Students", new { area = "Teacher", classId = ViewBag.ClassId, studentInClassId = item.StudentInClassId })', 'آیا از قبول کردن دانش آموز اطمینان دارید؟')"
                                   class="btn btn-success btn-sm">
                                    <i class="fas fa-check me-1"></i>
                                    قبول کردن
                                </a>

                                <a href="javascript:void(0)"
                                   onclick="openConfirmModal('@Url.Action("Reject", "Students", new { area = "Teacher", classId = ViewBag.ClassId, studentInClassId = item.StudentInClassId })', 'آیا از رد کردن دانش آموز اطمینان دارید؟')"
                                   class="btn btn-warning btn-sm">
                                    <i class="fa-solid fa-xmark me-1"></i>
                                    رد کردن
                                </a>

                                <a href="javascript:void(0)"
                                   onclick="openConfirmModal('@Url.Action("Ban", "Students", new { area = "Teacher", classId = ViewBag.ClassId, studentInClassId = item.StudentInClassId })', 'آیا از بن کردن دانش آموز اطمینان دارید؟')"
                                   class="btn btn-danger btn-sm">
                                    <i class="fa-solid fa-ban me-1"></i>
                                    بن کردن
                                </a>


                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            توجه. هیچ درخواستی موجود نمیباشد
        </div>
    }

</div>

