@model IEnumerable<NotificationsViewModel>
@{
    ViewData["Title"] = "اعلانات";
}

<div class="card border-0 shadow-sm">
    <div class="card-body p-4">


        <div class="d-flex gap-3 align-items-center mb-4 flex-wrap">
            
            <h3 class="card-title mb-0">اعلان‌ها</h3>
            <div>
                <a asp-action="AddNotification"
                asp-controller="Notifications"
                asp-area="Teacher"
                asp-route-classId="@ViewBag.classId"
                asp-route-notificationId="Add"
                class="btn btn-primary">افزودن</a>
            </div>

            <div>
                @if (ViewBag.HasPrev)
                {
                    <a asp-action="Notifications"
                       asp-controller="Home"
                       asp-area="Teacher"
                       asp-route-classId="@ViewBag.ClassId"
                       asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
                       class="btn btn-primary ">صفحه ی قبل</a>
                }
                else
                {
                    <a class="btn btn-primary disabled">صفحه ی قبل</a>
                }
            </div>

            <div>
                @if (ViewBag.HasNext)
                {
                    <a asp-action="Notifications"
                       asp-controller="Home"
                       asp-area="Teacher"
                       asp-route-classId="@ViewBag.ClassId"
                       asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
                       class="btn btn-primary ">صفحه ی بعد</a>
                }
                else
                {
                    <a class="btn btn-primary disabled">صفحه ی بعد</a>
                }
            </div>

        </div>

        <div class="notifications-list">

            @if(Model.Count() <= 0)
            {

                <div class="alert alert-warning">
                    توجه هیچ اعلانی وجود ندارد.
                </div>
            }
            else
            {
                <div class="alert alert-light">
                    تعداد کل اعلان ها: @ViewBag.NotificationCount
                </div>
                foreach(var notification in Model)
                {

                     <div class="notification-item">
                        <a asp-action="Index"
                           asp-controller="Notifications"
                           asp-area="Teacher"
                           asp-route-classId="@ViewBag.ClassId"
                           asp-route-notificationId="@notification.NotificationId"
                           class="d-block flex-grow-1">
                            <div class="notification-content">
                                <h4 class="notification-title">@notification.NotificationTitle</h4>
                                <p class="notification-date">@notification.CreatedAt</p>
                            </div>
                        </a>
                         <div class="notification-actions">
                            <a asp-action="EditNotification"
                               asp-controller="Notifications"
                               asp-route-classId="@ViewBag.ClassId"
                               asp-route-notificationId="@notification.NotificationId"
                                 class="btn btn-outline-primary btn-sm"> 
                                 <i class="fas fa-edit me-1"></i> 
                                 ویرایش 
                             </a>

                            <a href="javascript:void(0)"
                               onclick="openConfirmModal('@Url.Action("DeleteNotification", "Notifications", new { classId = ViewBag.ClassId, notificationId = notification.NotificationId, area = "Teacher" })', 'آیا از حذف اطمینان دارید؟')"
                               class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash me-1"></i>
                                حذف
                            </a>


                         </div> 
                     </div> 

                }
            }




        </div>
    </div>
</div>

