@using Amozegar.Data
@inject AmozegarContext _context
@inject UserManager<User> _userManager
@{
    var classIdentity = Context.GetRouteValue("classId")?.ToString();
    var currentClass = _context.Classes
    .Single(c => c.ClassIdentity == classIdentity);
    var teacher = await _userManager.FindByIdAsync(currentClass.TeacherId);

}
<!DOCTYPE html>

<html dir="rtl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - آموزگار</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Amozegar.styles.css" asp-append-version="true" />
</head>
<body>

	@await Component.InvokeAsync("MobileNavigationComponent")

    <div class="panel-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="sidebar-logo d-flex justify-content-center align-items-center gap-1">
                    <img src="~/images/home/logo.png" alt="آموزگار">
                    آموزگار
                </a>
            </div>

            <div class="sidebar-menu">
                <nav>
                    <a class="menu-item" asp-action="Index" asp-controller="Home" asp-area="">
                        <i class="fas fa-home"></i>
                        <span>برگشت به خانه</span>
                    </a>
                    <a asp-action="Index" asp-controller="Home" asp-area="Teacher" class="menu-item @(ViewBag.Route == "Dashboard" ? "active" : "")">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>داشبورد</span>
                    </a>
                    <a asp-action="" asp-controller="Home" asp-area="Teacher" class="menu-item @(ViewBag.Route == "Edit" ? "active" : "")">
                        <i class="fas fa-user-edit"></i>
                        <span>دانش آموزان</span>
                    </a>
                    <a asp-action="" asp-controller="Home" asp-area="Teacher" class="menu-item @(ViewBag.Route == "ChangePassword" ? "active" : "")">
                        <i class="fas fa-key"></i>
                        <span>امتحانات</span>
                    </a>
                    <a asp-action="" asp-controller="Home" asp-area="Teacher" class="menu-item @(ViewBag.Route == "ChangePassword" ? "active" : "")">
                        <i class="fas fa-key"></i>
                        <span>تکالیف</span>
                    </a>
                    <a asp-action="" asp-controller="Home" asp-area="Teacher" class="menu-item @(ViewBag.Route == "ChangePassword" ? "active" : "")">
                        <i class="fas fa-key"></i>
                        <span>اعلانات</span>
                    </a>

                </nav>
            </div>

            <div class="sidebar-footer">
                <a class="menu-item text-danger" asp-action="Classes" asp-controller="Home" asp-area="Panel" asp-route-roleName="Teacher">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>خروج از کلاس</span>
                </a>
            </div>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <div class="container-fluid py-4">

                <div class="container-fluid">
                    <!-- User Info Header -->
                    <div class="user-info-header">
                        <div class="user-info-content">
                            <div class="user-avatar">
                                <img src="~/images/classes/@currentClass.ClassImage" alt="تصویر کاربر">
                            </div>
                            <div class="user-details">
                                <h2 class="user-name">@currentClass.ClassName</h2>
                                <p class="user-username text-truncate">ایدی کلاس : @currentClass.ClassIdentity</p>
                                <p class="user-username text-truncate">نام مدرس : @teacher.FullName</p>
                            </div>
                        </div>
                    </div>
                </div>

                @RenderBody()
            </div>
        </main>
    </div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
