@inject RoleManager<UserRole> _roleManager

@{
    Layout = "~/Areas/Shared/Views/Shared/_MainLayout.cshtml";
    var roles = await _roleManager.Roles.ToListAsync();
}

@section Sidebar
{
    <a class="menu-item" asp-action="Index" asp-controller="Home" asp-area="">
        <i class="fas fa-home"></i>
        <span>خانه</span>
    </a>
    <a asp-action="Index" asp-controller="Home" asp-area="Panel" class="menu-item @(ViewBag.Route == "Dashboard" ? "active" : "")">
        <i class="fas fa-tachometer-alt"></i>
        <span>داشبورد</span>
    </a>
    <a asp-action="EditInformations" asp-controller="Home" asp-area="Panel" class="menu-item @(ViewBag.Route == "Edit" ? "active" : "")">
        <i class="fas fa-user-edit"></i>
        <span>ویرایش مشخصات</span>
    </a>
    <a asp-action="ChangePassword" asp-controller="Home" asp-area="Panel" class="menu-item @(ViewBag.Route == "ChangePassword" ? "active" : "")">
        <i class="fas fa-key"></i>
        <span>ویرایش پسورد</span>
    </a>

    @foreach (var role in roles)
    {
        @if (User.IsInRole(role.Name))
        {
            if (role.Name == "Admin")
            {
                <a asp-action="Classes" asp-controller="Home" asp-area="Panel" asp-route-roleName="@role.Name" class="menu-item">
                    <i class="fas fa-user-cog"></i>
                    <span>پنل @role.PersianName</span>
                </a>
            }
            else
            {
                <a asp-action="Classes" asp-controller="Home" asp-area="Panel" asp-route-roleName="@role.Name" asp-route-pageNumber="1" class="menu-item">
                    <i class="fas fa-user-cog"></i>
                    <span>پنل @role.PersianName</span>
                </a>
            }

        }
    }
}

@RenderBody()
@section MyScripts{
    @await RenderSectionAsync("Scripts", required: false)
}
