@{
	ViewData["RoleName"] = "Student";
	Layout = "~/Areas/Shared/Views/Shared/_MainLayout.cshtml";
}

@section Sidebar
{
	<a class="menu-item" asp-action="Index" asp-controller="Home" asp-area="">
		<i class="fas fa-home"></i>
		<span>برگشت به خانه</span>
	</a>
	<a asp-action="Index" asp-controller="Home" asp-area="Student" asp-route-classId="@ViewBag.ClassId" class="menu-item @(ViewBag.Route == "Dashboard" ? "active" : "")">
		<i class="fas fa-tachometer-alt"></i>
		<span>داشبورد</span>
	</a>
	<a asp-action="Index" asp-controller="Students" asp-area="Shared" asp-route-classId="@ViewBag.ClassId" asp-route-roleName="Student" asp-route-type="Students-List" asp-route-pageNumber="1" class="menu-item @(ViewBag.Type == "Students-List" ? "active" : "")">
		<i class="fa-solid fa-users"></i>
		<span>دانش آموزان کلاس</span>
	</a>
	<a asp-action="Index" asp-controller="Notifications" asp-area="Shared" asp-route-classId="@ViewBag.ClassId" asp-route-roleName="Student" asp-route-pageNumber="1" class="menu-item @(ViewBag.Route == "Notifications" ? "active" : "")">
		<i class="fa-solid fa-message"></i>
		<span>اعلانات @await Component.InvokeAsync("NotRead", new { type = "Notifications", classIdentity = ViewBag.ClassId })</span>
	</a>
	<a asp-action="Index" asp-controller="Homeworks" asp-area="Shared" asp-route-classId="@ViewBag.ClassId" asp-route-roleName="Student" asp-route-pageNumber="1" class="menu-item @(ViewBag.Route == "Homeworks" ? "active" : "")">
		<i class="fas fa-user-edit"></i>
		<span>تکالیف @await Component.InvokeAsync("NotRead", new { type = "Homeworks", classIdentity = ViewBag.ClassId })</span>
	</a>
	<a asp-action="NotSendHomeworks" asp-controller="Homeworks" asp-area="Student" asp-route-classId="@ViewBag.ClassId" asp-route-pageNumber="1" class="menu-item @(ViewBag.Route == "NotSendHomeworks" ? "active" : "")">
		<i class="fas fa-exclamation-triangle"></i>
		<span>تکالیف انجام نشده @await Component.InvokeAsync("NotRead", new { type = "NotSendHomeworks", classIdentity = ViewBag.ClassId })</span>
	</a>
	<a asp-action="" asp-controller="Home" asp-area="Teacher" class="menu-item @(ViewBag.Route == "ChangePassword" ? "active" : "")">
		<i class="fas fa-key"></i>
		<span>امتحانات</span>
	</a>
	<a asp-action="" asp-controller="Home" asp-area="Teacher" class="menu-item @(ViewBag.Route == "ChangePassword" ? "active" : "")">
		<i class="fas fa-key"></i>
		<span>همکلاسیان</span>
	</a>
}

@RenderBody()
@section MyScripts {
	@await RenderSectionAsync("Scripts", required: false)
}
